<h1>Tic Tac Toe</h1>
<link rel="stylesheet" href="tictactoe.css">
<table>
  <tr>
    <td></td>
    <td class="vert"></td>
    <td></td>
  </tr>
  <tr>
    <td class="hori"></td>
    <td class="vert hori"></td>
    <td class="hori"></td>
  </tr>
  <tr>
    <td></td>
    <td class="vert"></td>
    <td></td>
  </tr>
</table>