body{
    margin: 0 auto;
    width: 30%;
    padding: 20px;
    border-radius: 37px;
    background: white;
  }
  
  p{
    color: blue;
    background: pink;
    border: 5px solid purple;
    font-size: 15px;
  }
  
  table{
    background: pink;
  }
  