body  
{  
    margin: 0;  
    padding: 0;  
    background-color:#6abadeba;  
    font-family: 'Impact, fantasy';  
}  
.login{  
        width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;  
        background: #31053a;  
        border-radius: 15px ;  
          
}  
h2{  
    text-align: center;  
    color: #b464a7;  
    padding: 20px;  
}  
label{  
    color: #bcfff3;  
    font-size: 17px;  
}  
#Uname{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#Pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#log{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: black;  
  
  
}  

span{  
    color: white;  
    font-size: 17px;  
}  

a{  
    float: left;  
    background-color: white;
    font-size: 17px;
}  

div{
    color: white;
    background-color: black;
}