body {
    background-color: rgb(42, 3, 80);
    color: cornsilk;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
}

body.div {
    font-size: 80px;
    float: center;
}