<div id="container">
    <link rel="stylesheet" href="color.css">
    <div.a>RGB vs. HSL</div.a>
    <div class="swatches">
      <p class="rgb a_1">RGB a=1.0</p>
      <p class="rgb a_2">RGB a=0.9</p>
      <p class="rgb a_3">RGB a=0.8</p>
      <p class="rgb a_4">RGB a=0.7</p>
      <p class="rgb a_5">RGB a=0.6</p>
      <p class="rgb a_6">RGB a=0.5</p>
      <p class="rgb a_7">RGB a=0.4</p>
      <p class="rgb a_8">RGB a=0.3</p>
      <p class="rgb a_9">RGB a=0.2</p>
      <p class="rgb a_10">RGB a=0.1</p>
    </div>
    <div class="swatches">
      <p class="hsl a_1">HSL a=1.0</p>
      <p class="hsl a_2">HSL a=0.9</p>
      <p class="hsl a_3">HSL a=0.8</p>
      <p class="hsl a_4">RGB a=0.7</p>
      <p class="hsl a_5">RGB a=0.6</p>
      <p class="hsl a_6">RGB a=0.5</p>
      <p class="hsl a_7">RGB a=0.4</p>
      <p class="hsl a_8">RGB a=0.3</p>
      <p class="hsl a_9">RGB a=0.2</p>
      <p class="hsl a_10">RGB a=0.1</p>
    </div>
  </div>