div {
    border: 1px solid black;
    text-align: center;
  }
  div.a {
    font-size: 60px;
  }
  p {
    width: 100px;
    height: 50px;
    border: 3px solid gray;
    display: inline-block;
  }
  .swatches {
    border: 3px solid red;
    margin: 0 auto;
  }
  p {
    color: white;
  }
  p.rgb {
    background: #580038;
    color: white;
  }
  p.hsl {
    background: #580038;
    color: white;
  }
  p.a_1 {
    opacity: 1;
  }
  p.a_2 {
    opacity: 0.8333333333;
  }
  p.a_3 {
    opacity: 0.6666666667;
  }
  p.a_4 {
    opacity: 0.5882352941;
  }
  p.a_5 {
    opacity: 0.5263157895;
  }
  p.a_6 {
    opacity: 0.4761904762;
  }
  p.a_7 {
    opacity: 0.4347826087;
  }
  p.a_8 {
    opacity: 0.4;
  }
  p.a_9 {
    opacity: 0.3703703704;
  }
  p.a_10 {
    opacity: 0.3125;
  }
  #container {
    width: 100%;
    margin: 0 auto;
  }
  