div#flag_frame {
    padding-top: 20px;
    height: 300px;
  }
  div > table {
    box-shadow: 0 15px 50px darkgray;
  }
  table#flag {
    margin: 0 auto;
    width: 600px;
    border-collapse: collapse;
  }
  td#starcell {
    background-color: navy;
    width: 225px;
  }
  table#stars {
    color: white;
  }
  td.stripes {
    width: 600px;
    height: 23.0769230769px;
  }
  td.white_stripe {
    background-color: white;
  }
  td.red_stripe {
    background-color: red;
  }
  #body {
    height: 300px;
    width: 600px;
  }
  